﻿

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/About/Index" class="brand-link">
        <img src="~/AdminLTE-3.2.0/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text text-center font-weight-light">Meyawo Portfolio</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Default/Index" class="nav-link">
                        <i class="fi fi-sr-apps"></i> &ensp;
                        <p>
                            Siteye Git
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Feature/Index" class="nav-link">
                        <i class="fi fi-sr-home"></i> &ensp;
                        <p>
                            Başlık
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/About/Index" class="nav-link">
                        <i class="fi fi-sr-globe"></i>&ensp;
                        <p>
                            Hakkımda
                        </p>
                    </a>
                </li>
              
                <li class="nav-item">
                    <a href="/Service/Index" class="nav-link">
                        <i class="fi fi-sr-comments"></i> &ensp;
                        <p>
                            Hizmetler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Project/Index" class="nav-link">
                        <i class="fi fi-sr-hr-group"></i> &ensp;
                        <p>
                            Projeler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Testimonial/Index" class="nav-link">
                        <i class="fi fi-sr-guide"></i>&ensp;
                        <p>
                            Yorumlar
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="/Contact/Index" class="nav-link">
                        <i class="fi fi-sr-paper-plane"></i> &ensp;
                        <p>
                            Mesajlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-sr-sign-out-alt"></i>&ensp;
                        <p>
                            Çıkış
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>