
@model TblFeature

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0 text-dark">Başlık Düzenleme Ekranı</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <hr class="horizontal gray-light my-0">
                    <form method="post">
                        <input type="hidden" asp-for="FeatureId">
                        <div class="form-group">
                            <label>Başlık</label>
                            <input type="text" class="form-control form-control-s" asp-for="Header" placeholder="Başlık girin">
                        </div>
                        <div class="form-group">
                            <label>2. Başlık</label>
                            <input type="text" class="form-control form-control-s" asp-for="Title" placeholder="2.Başlık girin">
                        </div>
                        <div class="form-group">
                            <label>Açıklama</label>
                            <input type="text" class="form-control form-control-s" asp-for="NameSurname" placeholder="Açıklama girin">
                        </div>
                        <button type="submit" class="btn btn-primary">Başlık Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>